.sc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 20px 200px 50px;
}

.text-container_payment {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.sc-container img {
  width: 700px;
  margin-left: 200px;
  padding-top: 40px;
  max-width: 100%; /* Esto asegura que la imagen no se haga más pequeña de lo necesario */
}

.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.sc-container p {
  text-align: left;
  max-width: 600px;
  font-size: 1rem;
  margin: 2rem 0;
}

.button-container {
  display: flex;
  gap: 40px;
  margin-top: 20px;
  justify-content: center;
}

.sc-btn {
  padding: 12px 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  background-color: #5275F5;
  color: azure;
  font-size: 1rem;
  font-weight: 500;
  border: none;
}

.sc-btn:hover {
  opacity: 0.9;
}

.support-link {
  font-weight: bold;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.support-link:hover {
  color: #0070cc;
}

/* Media Queries */
@media (max-width: 478px) {
  .support-link {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .support-link:hover {
    color: #0070cc;
  }
}

@media (max-width: 1040px) {
  .title {
    text-align: center;
    font-size: 2.1rem;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }

  .sc-container img {
    width: 600px;
    margin-left: 0px;
  }

  .sc-container,
  .text-container_payment {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .sc-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .sc-container p,
  .sc-btn {
    text-align: center;
  }
}

@media (max-width: 735px) {
  .sc-btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 1550px) {
  .title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }

  .sc-container img {
    width: 600px;
    margin-left: 0px;
  }

  .sc-container,
  .text-container_payment {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .sc-container p,
  .sc-btn {
    text-align: center;
  }
}

@media (max-width: 1050px) {
  .sc-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 150px 50px;
  }
}

@media (max-width: 1215px) {
  .title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
  }

  .sc-container img {
    width: 600px;
    margin-left: 0px;
  }

  .sc-container,
  .text-container_payment {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .sc-container p,
  .sc-btn {
    text-align: center;
  }
}

@media (max-width: 878px) {
  .title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .sc-container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px 50px;
  }

  .sc-container img {
    margin: 10px 0;
  }

  .sc-container,
  .sc-container img,
  .text-container_payment {
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .sc-container p,
  .sc-btn {
    text-align: center;
  }
}
