.hiddenVariant {
  display: none !important;
}

.inventory-variant-row {
  width: 98%;
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  align-items: center;
  padding: 6px;
  border-radius: 10px;
  background-color: #eff2fc;
  box-shadow: 0 0 10px rgba(94, 94, 94, 0.1);
  margin: 2px 0;
  align-self: flex-end;
  position: relative;
}

.inventory-variant-row-header {
  margin-top: 10px;
}

.low-stock-variant-message {
  position: absolute;
  right: 100px;
  font-size: var(--normal-4-text-size);
}

@media screen and  (max-width:1170px) {
 .low-stock-variant-message {
  right: 22px;
} 
}
