.inventory-product-row-ctn {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2px;
}

.inventory-product-row {
  width: 100%;
  margin-bottom: 0;
  position: relative;
}

.inventory-product-name{
  color: var(--primary-400);
}

.inventory-product-name-ctn p{
  cursor: pointer;
}


.inventory-product-name:hover{
  color: var(--primary-600);
}

.inventory-low-stock-message {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 4px;
  padding: 2px  4px;
  font-size: var(--normal-5-text-size);
  top: -8px;
}

.inventory-low-stock-message::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
  transform: translateX(-160%);
}

.inventory-product-name-ctn {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.image-inventory-row {
  height: 30px;
  width: 30px;
  border-radius: 4px;
}

.inventory-product-buttons-ctn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.inventory-product-reviews-ctn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--normal-1-text-size);
  color: var(--action-alert);
}

.inventory-product-variantes-ctn {
  background-color: blue;
  width: 98%;
}

.hiddable-button {
  display: block;
}

.hiddable-button-reverse {
  display: none !important;
}

.low-stock-alert {
  color: red !important;
}

@media screen and (max-width: 1170px) {
  .inventory-product-buttons-ctn {
    display: flex;
    justify-content: end;
  }

  .hiddable-button {
    display: none !important;
  }

  .hiddable-button-reverse {
    display: block !important;
  }
}
