.inventory-product-row-ctn {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2px;
}

.inventory-product-row {
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
}

.inventory-product-name-ctn {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.image-inventory-row {
  height: 30px;
  width: 30px;
  border-radius: 4px;
}

.inventory-product-buttons-ctn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.inventory-product-reviews-ctn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--normal-1-text-size);
  color: var(--action-alert);
}

.inventory-product-variantes-ctn {
  background-color: blue;
  width: 98%;
}

.hiddable-button {
  display: block;
}

.low-stock-alert {
  background-color: var(--low-stock-alert) !important;
}

@media screen and (max-width: 1170px) {
  .inventory-product-buttons-ctn {
    display: flex;
    justify-content: end;
  }

  .hiddable-button {
    display: none !important;
  }
}
