.formContainer {
  max-width: 100%;
  background-color: var(--background-primary);
  color: var(--primary-400);
  padding: 20px 20px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.saveButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--primary-400);
  color: #fff;
  border: none;
  border-radius: var(--general-border-radius);
  cursor: pointer;
}

.saveButton:hover {
  background-color: var(--primary-600);
}

.cancelButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--background-primary);
  color: var(--primary-400);
  border: 1px solid var(--primary-400);
  border-radius: var(--general-border-radius);
  cursor: pointer;
}

.cancelButton:hover {
  border: 1px solid var(--primary-600);
  color: var(--primary-600);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--background-primary);
  border-radius: 12px;
  padding: 0 20px;
}

.phonInput {
  display: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}
