.store-admin-header {
  width: 100%;
  height: 7vh;
  gap: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: black;
  padding : 0 35px;
  background-color: var(--surface-background);
}

.store-admin-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.store-admin-logo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid black;
}

.store-admin-logo-sepaator{
  width: 1px;
  height: 40px;
  border: 1px solid #000000;
}

