.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.sign-up-button {
  width: 30%;
  padding: 0.75rem;
  background-color: var(--primary-600);
  color: var(--tertiary-400);
  border: none;
  border-radius: var(--general-border-radius);
  font-size: var(--normal-1-text-size);
  cursor: pointer;
  transition: background-color 0.2s;
}
