.add-to-cart-button {
  width: 100%;
  min-height: 30px;
  background-color: var(--secondary-400);
  border: none;
  color: var(--background-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  font-size: var(--normal-1-text-size);
  cursor: pointer;
}
