
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.chip {
  padding: 2px 12px 2px 12px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  color: var(--foreground-tertiary);
  background-color: var(--background-tertiary);
  cursor: pointer;
}

.selected {
  color: var(--white);
  background-color: var(--primary-400);
}