.option-section {
  cursor: pointer;
  width: 100%;
  height: 30px;
  border: none;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  font-size: var(--normal-1-text-size);
}

.option-section.selected {
  background-color: var(--primary-600);
  color: var(--tertiary-400);
}

.option-section:hover {
  background-color: var(--primary-400);
  color: var(--tertiary-400);
}
