.products-carousel {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.products-carousel-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}

.products-carousel-header-title {
  font-size: var(--heading-2-text-size);
  color: var(--primary-600);
}

.products-carousel-header-link {
  font-size: var(--normal-2-text-size);
  color: var(--primary-600);
  text-decoration: none;
  border: none;
  background-color: transparent;
  text-align: right;
}

.products-carousel-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
  padding: 0 10px;
}

.products-carousel-button {
  position: absolute;
  top: 50%;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: translate(0, -50%);
  border: none;
  background-color: var(--primary-600);
  font-size: var(--heading-3-text-size);
  color: var(--background-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.products-carousel-button-left {
  left: 10px;
}

.products-carousel-button-right {
  right: 10px;
}
