.product-card {
  display: flex;
  min-width: 300px;
  overflow: hidden;
  border-radius: 10px;
  gap: 10px;
  margin: auto;
  background-color: var(--background-light-tertiary);
}

.product-card.card {
  width: 300px;
  flex-direction: column;
}

.product-card-image {
  width: 100%;
  height: 300px;
  object-fit: fit;
}

.product-card-name {
  font-family: "Montserrat Alternates", serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--heading-3-text-size);
  color: var(--primary-dark);
  margin: 0 10px;
  text-decoration: none;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.product-card-price {
  font-size: var(--normal-1-text-size);
  color: var(--secondary-dark);
}

.product-card-price > .product-card-price-symbol {
  font-size: var(--heading-3-text-size);
}

.product-card-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--normal-1-text-size);
  color: var(--action-alert);
}

.product-card-more-actions {
  display: flex;
  flex-direction: row;
  margin: 0 10px 10px 10px;
  gap: 10px;
}