.product-attribute-section {
  width: 100%;
  display: grid;
  grid-template-columns: 100px auto;
  gap: 10px;
  margin-bottom: 10px;
}

.product-attribute-name {
  width: 100%;
  max-width: 200px;
  font-size: var(--heading-3-text-size);
  color: var(--primary-400);
}

@media (max-width: 700px) {
  .product-attribute-section {
    display: flex;
    flex-direction: column;
  }
}
