.product-card {
  display: flex;
  min-width: 300px;
  overflow: hidden;
  border-radius: 10px;
  gap: 10px;
  margin: auto;
  background-color: var(--background-light-tertiary);
}

.product-card.card {
  width: 300px;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 10px;
}

.product-card.list {
  width: 100%;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.product-card-image {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
}

.product-card-image.list {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.product-card-name {
  font-family: "Montserrat Alternates", serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--heading-3-text-size);
  color: var(--primary-dark);
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
}

.product-card-name.list {
  width: 40%;
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.product-card-info.list {
  width: 20%;
  gap: 20px;
  text-align: right;
}

.product-card-price {
  font-size: var(--normal-1-text-size);
  color: var(--secondary-dark);
}

.product-card-price > .product-card-price-symbol {
  font-size: var(--heading-3-text-size);
}

.product-card-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--normal-1-text-size);
  color: var(--action-alert);
}

.product-card-more-actions {
  display: flex;
  flex-direction: row;
  margin: 0 10px 0 10px;
  gap: 10px;
}

.product-card-more-actions.list {
  width: 16%;
}

.product-card-info-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-card-info-section.list {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1280px) {

  .product-card-name.list {
    width: 30%;
  }

  .product-card-info.list {
    width: 15%;
  }

  .product-card-more-actions.list {
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .product-card-name.list {
    width: 25%;
  }

  .product-card-info.list {
    width: 20%;
  }

  .product-card-more-actions.list {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .product-card.list {
    height: 150px;
  }

  .product-card-image.list {
    height: 150px;
  }

  .product-card-info-section.list {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
  }

  .product-card-name.list {
    width: 100%;
  }

  .product-card-info.list {
    width: 100%;
  }

  .product-card-more-actions.list {
    width: 100%;
  }
}