.product-attribute-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-attribute-name {
  width: 100%;
  max-width: 200px;
  font-size: var(--heading-3-text-size);
  color: var(--primary-400);
}

.product-attribute-values {
  width: 100%;
  max-width: 400px;
  border: 2px solid var(--primary-400);
  font-size: var(--normal-1-text-size);
  border-radius: 10px;
  padding: 10px;
}

.product-attribute-values:focus {
  outline: none;
}

.product-attribute-value:hover {
  background-color: var(--primary-400);
  color: var(--tertiary-400)
}
