.select-section {
  width: 100%;
  position: relative;
}

.select-button {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--normal-1-text-size);
  padding: 10px;
  border: 2px solid var(--primary-600);
  border-radius: 5px;
  color: var(--primary-600);
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-light-primary);
  border-radius: 5px;
  z-index: 10;
  overflow-y: auto;
  max-height: 200px;
}
