.shopping-cart-button {
  width: 30px;
  height: 30px;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--tertiary-400);
}

.shopping-cart-icon-button {
  font-size: var(--heading-2-text-size);
}

.quantity-items-shopping-cart {
  display: none;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: var(--primary-600);
  text-align: center;
  border-radius: 50%;
  font-size: var(--normal-4-text-size);
}

.quantity-items-shopping-cart.show {
  display: block;
}
