@import '/src/app/globals.css';

.shopping-cart-item-card {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 15% auto 25% 10%;
  align-items: center;
  background-color: var(--background-light-primary);
  padding: 10px;
  border-radius: 10px;
}

.shopping-cart-item-card-image {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 5px;
}

.shopping-cart-item-card-info {
  width: auto;
  display: block;
}

.shopping-cart-item-card-name {
  color: var(--primary-dark);
  text-align: left;
}

.shopping-cart-item-card-price {
  font-size: var(--normal-2-text-size);
  color: var(--secondary-light);
  text-align: left;
}

.shopping-cart-item-card-remove {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--primary-dark);
  font-size: var(--normal-1-text-size);
  cursor: pointer;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.shopping-cart-item-card-remove-icon {
  font-size: var(--heading-3-text-size);
  color: var(--tertiary-light);
  cursor: pointer;
}