
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.pageButton {
  width: 32px;
  height: 32px;
  border: 1px solid var(--primary-400);
  background-color: transparent;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.pageButton:hover {
  background-color: var(--primary-400);
  color: var(--white);
}

.selected {
  background-color: var(--primary-400);
  color: var(--white);
}

.arrowButton {
  display: flex;
  width: 28px;
  height: 28px;
  background-color: var(--gray-300);
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}