.shopping-cart-list-page-section {
  min-width: 800px;
  max-height: 700px;
  display: grid;
  grid-template-rows: 40px auto;
  gap: 20px;
  background-color: var(--background-secondary);
}

.shopping-cart-page-list-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.shopping-cart-page-list-products-section {
  width: 100%;
  height: calc(700px - 40px);
  overflow-y: auto;
  overflow-x: hidden;
}

.shopping-cart-page-list-products-section > div {
  margin-bottom: 20px;
}