
.container {
  width: 75%;
  height: 0;
  padding: 24px;
  position: relative;
  top: -120px;
  left: 340px;
}

.storeName {
  font-family: var(--montserrat-alt-font-family);
  font-size: 26px;
  color: var(--primary-400);
}

.contactInformation {
  font-family: var(--montserrat-alt-font-family);
  font-size: 12px;
  color: var(--secondary-400);
}

.description {
  font-family: var(--montserrat-alt-font-family);
  font-size: 14px;
  color: black;
}

@media (max-width: 1280px) {
  .container {
    width: 65%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: fit-content;
    position: initial;
  }
}