
.container {
  width: 100%;
}

.storeName {
  font-family: var(--montserrat-font-family);
  font-size: 32px;
  color: var(--primary-400);
}

.contactInformation {
  font-family: var(--ubuntu-font-family);
  font-size: 14px;
  color: var(--secondary-400);
}

.description {
  font-family: var(--ubuntu-font-family);
  font-size: 16px;
  color: black;
}
