.side-menu {
  position: fixed;
  top: 60px;
  left: -300px;
  width: 300px;
  height: calc(100vh - 60px);
  display: flex;
  gap: auto;
  flex-direction: column;
  z-index: 1001;
  background-color: var(--background-tertiary);
  transition: all 1s ease;
  padding: 10px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.side-menu.show {
  left: 0;
}
