<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
</head>

<body style="margin: 0; padding: 0; background-color: #F4F9FF; font-family: Arial, sans-serif; max-width: 700px; margin: auto;">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" style="max-width: 700px; margin: auto;">
        <tr>
            <td style="padding: 20px;">
                <img src="https://i.postimg.cc/dt9SqcKK/NewUser.png" alt="Email cover" style="width: 100%; height: auto; object-fit: contain;" />
                <h1 style="font-size: 24px; color: #5275F5; text-align: left;">Welcome! You've Been Added as a {{UserType}} to {{Storename}}</h1>
                <p style="color: #292621; font-size: 16px;">Dear {{Username}},</p>
                <p style="color: #292621; font-size: 16px;">We are excited to let you know that you've been successfully added as a {{UserType}} to {{Storename}} on our platform!</p>
                <p style="color: #292621; font-size: 16px;">As a {{UserType}}, you now have the ability to:</p>
                <ul style="padding-left: 20px; font-size: 16px; color: #292621;">{{Content}}</ul>
                <p style="color: #292621; font-size: 16px;">If you have any questions or need assistance, our support team is always ready to help at <a href="mailto:{{StoreEmail}}" style="color: #7790ED; text-decoration: none;">{{StoreEmail}}</a>.</p>
                <p style="color: #292621; font-size: 16px;">We’re thrilled to have you on board and look forward to seeing your store grow!</p>
                <p style="color: #292621; font-size: 16px;">Best regards,<br />The Merchant Team</p>
                <a href="{{Url}}" style="display: inline-block; font-size: 20px; padding: 10px 20px; background-color: #7790ED; border-radius: 10px; color: #F4F9FF; text-decoration: none; margin-bottom: 20px;">Go to admin panel</a>
                <div style="text-align: center; margin: 20px 0;">
                    <img src="https://i.postimg.cc/Kvn4jQ9b/chatgpt-robot-holding-camera.png" alt="Merchi" height="130px" style="vertical-align: middle;" />
                    <img src="https://i.postimg.cc/T3Nx3DXG/Isotipo.png" alt="Merchant Logo" height="130px" style="vertical-align: middle;" />
                </div>
                <footer style="border-top: 1px solid #7790ED; padding-top: 10px; text-align: center;">
                    <p style="font-size: 16px;">Do you have any questions or need help?<br />You can contact us at any time:</p>
                    <p style="font-size: 16px;">📧 Email: <a href="mailto:merchant.ecommerce.13422@gmail.com" style="color: #7790ED; text-decoration: none;">merchant.ecommerce.13422@gmail.com</a></p>
                    <p style="font-size: 16px;">© 2024, Merchant</p>
                </footer>
            </td>
        </tr>
    </table>
</body>

</html>
