<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
</head>

<body style="padding: 20px; font-family: Arial, sans-serif; background-color: #F4F9FF; color: #292621;">
    <div style="max-width: 600px; margin: auto; background-color: #FFFFFF; padding: 20px; border-radius: 10px;">
        <img src="https://i.postimg.cc/DzRxC211/Promotion.png" alt="Email cover" style="width: 100%; height: auto; border-radius: 10px;" />
        
        <h1 style="font-size: 24px; color: #5275F5; font-weight: bold; text-align: left; margin: 20px 0;">Personalized Product Recommendations Just for You!</h1>
        
        <p style="margin: 15px 0;">
            Dear {{Username}},
        </p>
        <p style="margin: 15px 0;">
            We’ve curated some recommendations we think you’ll love, based on your recent activity and preferences. Check out these handpicked items just for you:
        </p>
        
        <div style="display: flex; flex-wrap: wrap; gap: 10px; justify-content: center;">
            {{Items}}
        </div>
        
        <p style="margin: 15px 0;">
            If you have any questions or need assistance, feel free to contact us at 
            <a href="mailto:merchant.ecommerce.13422@gmail.com" style="color: #7790ED; text-decoration: none;">merchant.ecommerce.13422@gmail.com</a>. We're always here to help!
        </p>
        
        <p style="margin: 15px 0;">Happy shopping!</p>
        
        <p style="margin: 15px 0;">
            Best regards,<br />
            The Merchant Team
        </p>
        
        <div style="display: flex; justify-content: center; gap: 30px; padding: 10px;">
            <img src="https://i.postimg.cc/8cLkFPm4/chatbot-using-laptop.png" alt="Merchi" style="height: 130px;" />
            <img src="https://i.postimg.cc/T3Nx3DXG/Isotipo.png" alt="Merchant Logo" style="height: 130px;" />
        </div>
        
        <footer style="border-top: 1px solid #7790ED; padding-top: 15px; text-align: center;">
            <p style="margin: 10px 0;">
                Do you have any questions or need help?<br>
                You can contact us at any time:
            </p>
            <p style="margin: 10px 0;">
                📧 Email: <a href="mailto:merchant.ecommerce.13422@gmail.com" style="color: #7790ED; text-decoration: none;">merchant.ecommerce.13422@gmail.com</a>
            </p>
            <p style="margin: 10px 0; font-size: 14px; color: #292621;">
                © 2024, Merchant
            </p>
        </footer>
    </div>
</body>

</html>
