.inputGroup {
  width: 100%;
  padding-bottom: 7%;
  position: relative;
  --padding: 0.9rem;
}

.input {
  width: 100%;
  background-color: var(--background-primary);
  padding: var(--padding) 1rem;
  border-radius: 0.8rem;
  border: 2px solid var(--color-border);
  transition: border-color 0.2s;
  outline: none;
  color: var(--primary-400);
}

.input:is(:focus, :valid) {
  border-color: var(--color-border);
}

.placeholder {
  position: absolute;
  background-color: var(--background-primary);
  color: var(--primary-400);
  left: 1rem;
  top: 33%;
  transform: translateY(-50%);
  padding: 0 4px;
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.input:is(:focus, :valid) + .placeholder {
  transform: translateY(calc(-1 * var(--padding) - 100%)) translateX(-5%);
  font-size: 14px;
  color: var(--primary-400);
}

.input:where([type="password"], [type="text"]:not([id="username"])) {
  padding-right: 2.5rem;
}

.eyeButton {
  position: absolute;
  top: 20%;
  right: 0.75rem;
  background: none;
  border: none;
  color: var(--primary-400);
  cursor: pointer;
}

.errorMessage {
  color: var(--action-error);
  font-size: 0.875rem;
  margin-top: 0.25rem;
  padding-bottom: 0.25rem;
  position: absolute;
}

.errorInput {
  border-color: var(--action-error) !important;
}

.error-text {
  color: var(--action-error);
  font-size: 0.9rem;
  margin-top: 4px;
}

.errorInput + .placeholder {
  color: var(--action-error) !important;
}
