.message {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: var(--tertiary-400);
}

.success {
  background-color: var(--action-success);
}

.error {
  background-color: var(--action-alert);
}
