.message {
    margin-top: 16px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  .success {
    background-color: var(--action-success);
    color: #155724;
  }

  .error {
    background-color: var(--action-alert);
    color: #721c24;
  }
