.container {
  --color-background: #F4F9FF;
  --color-primary: #7790ED;
  --color-primary-600: #5275F5;
  --color-secondary: #FFE4C8;
  --color-secondary-hover: #FFD4A8;
  --color-text: #2D3748;
  --color-text-light: #718096;
  --color-border: #E2E8F0;
  
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
}

.container.dark {
  --color-background: #000000;
  --color-primary: #262420;
  --color-primary-light: #262420;
  --color-secondary: #FFE4C8;
  --color-secondary-hover: #FFD4A8;
  --color-text: #f1dbd5;
  --color-text-light: #ffffff;
  --color-border: #ffffff;
  --color-primary-600: #000000;
}

.formCard {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  background-color: var(--color-background);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.leftSection {
  width: 50%;
  height: 100%;
  background-color: var(--color-background);
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 20vh 10% 10vh;
  border-bottom-right-radius: 5rem;
}

.rightSection {
  width: 50%;
  background-color: var(--color-primary);
  background-image: url('../../app/assets/Images/AuthImage.png');
  background-size: 70vh; 
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  overflow: hidden;
  gap: 1rem;
  border-top-left-radius: 5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--color-text);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.signupButton {
  width: 30%;
  padding: 0.75rem;
  background-color: var(--color-secondary);
  color: black;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.signupButton:hover {
  background-color: var(--color-secondary-hover);
}

.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 3rem;
}

.welcomeTitle {
  font-size: 2rem;
  font-weight: bold;
}

.loginSection {
  text-align: center;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.loginButton {
  padding: 0.75rem 2.5rem;
  background-color: var(--color-primary-600);
  color: #F4F9FF;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.loginButton:hover {
  background-color: #385ce1;
}

.bottomRectangle {
  width: 100%; 
  height: 20vh; 
  background-color: var(--color-primary); 
  position: absolute; 
  bottom: 0;
  left: 0;
  z-index: -1; 
}

.logo {
  width: 100%;
  padding: 1%;
  object-fit: contain;
}

.verificationMessage {
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 6.5rem;
}
.verificationMessage p {
  padding-bottom: 2rem;
  padding-top: 2rem;
  color: var(--color-text-light);
}
.verificationMessage h2{
  color: var(--color-text);
}

@media (max-width: 768px) {
  .formCard {
    flex-direction: column;
    height: 100%;
  }

  .leftSection,
  .rightSection {
    width: 100%;
  }
  .bottomRectangle {
    height: 100%; 
    width: 20vh;
    z-index: -1;
  }
  .rightSection {
    border-top-right-radius: 2.5rem;
    background-image: none;
    padding: 2.3rem;
    gap: 0.5rem;
    margin-right: auto;
  }
  .leftSection {
    padding: 5vh 10% 1vh;
    border-bottom-left-radius: 2.5rem;
  }
  .logo {
    width: 100%;
    height: 8vh;
  }
  .welcomeText {
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .form {
    gap: 1rem;
  }
  .loginSection {
    flex-direction: row;
    align-items: center; 
    gap: 1rem; 
  }
  .loginSection p {
    margin-right: 1rem;
    margin-bottom: 0; 
  }
}
