
.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 40px;
  width: 100%;
}

.addButton {
  font-size: 14px;
  font-weight: 300;
  border-radius: 8px;
}

.addButton:hover {
  text-decoration: underline;
  color: var(--primary-400);
  cursor: pointer;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

@media (max-width: 820px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}

.container {
  padding: 0 24px;
  margin-top: 40px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noReviewsMessage {
  text-align: center;
  margin: 24px;
  padding-bottom: 24px;
}
