.productDetailsSection {
  min-height: 100vh;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  color: var(--foreground-secondary);
}

.informationContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
  height: inherit;
}

.imagesSection {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.primaryImage {
  object-fit: fill;
  width: 38vw;
  min-width: 200px;
  max-width: 600px;
  max-height: 60vh;
  border-radius: 10px;
}

.secondaryImages {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.secondaryImage {
  width: 12vw;
  min-width: 150px;
  max-width: 200px;
  object-fit: fill;
  max-height: 100px;
  border-radius: 12px;
}

.secondaryImage:hover {
  border: 1px solid #000;
  cursor: pointer;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.title {
  color: var(--foreground-primary);
  font-size: 28px;
  font-weight: bold;
}

.label {
  font-size: 20px;
  font-weight: 600;
}

.labelLight {
  font-size: 16px;
  font-weight: 300;
}

.errorLabel {
  font-size: 14px;
  color: #fb5012;
}

@media (max-width: 768px) {
  .productDetailsSection {
    flex-wrap: wrap;
  }

  .imagesSection {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .primaryImage {
    width: 100%;
  }

  .secondaryImages {
    flex-direction: row;
  }

  .secondaryImage {
    width: 32%;
    min-width: 80px;
  }
}

@media (max-width: 1024px) {
  .primaryImage {
    width: 100%;
  }

  .imagesSection {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: start;
  }

  .secondaryImages {
    flex-direction: row;
  }

  .informationContainer {
    width: 100%;
    padding: 0 2rem;
  }
}
