<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <style>
        .item{
             width:200px;
             height:250px;
         } 
 
         .item img{
             width:200px;
             height:200px;
         } 
 
     </style>
</head>

<body style="margin: 0; background-color: #F4F9FF; font-family: Arial, sans-serif; color: #292621;">

    <div style="width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #FFFFFF;">
        <img src="https://i.postimg.cc/tJNDCWwz/Confirmed-Status.png" alt="Email cover"
            style="width: 100%; height: auto;" />

        <h1
            style="font-family: 'Montserrat Alternates', Arial, sans-serif; font-size: 24px; color: #5275F5; font-weight: 700; font-style: italic; margin-top: 20px;">
            Your Order #{{OrderNumber}} Has Been Confirmed!</h1>

        <p>Dear {{Username}},</p>
        <p>Great news! Your order #{{OrderNumber}} has been confirmed and is now being prepared for shipment. Here are
            the details of your confirmed order:</p>

        <p>Here are the details of the canceled order:</p>
        <ul style="padding-left: 20px;">
            <li>Order Number: {{OrderNumber}}</li>
            <li>Items:</li>
        </ul>

        <div style="display: flex; flex-wrap: wrap; gap: 10px;">
            {{Items}}
        </div>

        <p>If you have any questions or need assistance, feel free to contact us at
            <a href="mailto:merchant.ecommerce.13422@gmail.com"
                style="color: #7790ED; text-decoration: none;">merchant.ecommerce.13422@gmail.com</a>.
        </p>

        <p>We’re thrilled to have you on board and look forward to seeing your store grow!</p>

        <p>Best regards,<br />The Merchant Team</p>

        <div style="display: flex; justify-content: center; align-items: center; gap: 30px; padding: 10px;">
            <img src="https://i.postimg.cc/76GZkNCp/chatgpt-robot-happy-raising-right-arm.png" alt="Merchi"
                style="height: 130px;" />
            <img src="https://i.postimg.cc/T3Nx3DXG/Isotipo.png" alt="Merchant Logo" style="height: 130px;" />
        </div>

        <footer style="border-top: 1px solid #7790ED; padding-top: 10px; text-align: center;">
            <p>Do you have any questions or need help?<br />You can contact us at any time:</p>
            <p>📧 Email: <a href="mailto:merchant.ecommerce.13422@gmail.com"
                    style="color: #7790ED; text-decoration: none;">merchant.ecommerce.13422@gmail.com</a></p>
            <p style="font-size: 12px; color: #999;">© 2024, Merchant</p>
        </footer>
    </div>

</body>

</html>