.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e2e8f0;
  background: #f9fafb;
  cursor: pointer;
  transition: all 0.2s ease;
}

.previewContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.previewContainer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.863), transparent);
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.rectangle {
  border-radius: 0.5rem;
}

.circle {
  border-radius: 50%;
}

.dragging {
  border-color: #3b82f6;
  background-color: #eff6ff;
}

.fileInput {
  display: none;
}

.preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewRectangle {
  border-radius: 0.5rem;
}

.previewCircle {
  border-radius: 50%;
}

.uploadIcon {
  margin-bottom: 0.5rem;
}

.uploadText {
  font-size: 0.875rem;
  color: #6b7280;
  text-align: center;
}

.editButton {
  opacity: 0;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: var(--primary-400);
  color: white;
  border-radius: 9999px;
  padding: 0.8rem;
  transition: background-color 0.2s ease, opacity 0.2s ease;
  border: none;
  outline: none;
  cursor: pointer;
}

.removeIcon {
  width: 1rem;
  height: 1rem;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6b7280;
}

.containerHover  {
  opacity: 1;
}

.containerHover:hover .previewContainer::before {
  opacity: 1;
}

.container:hover .editButton {
  opacity: 1;
}

.movible {
  position: absolute;
}
