@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&family=Ubuntu&display=swap");

:root {
  --background-light-primary: #f4f9ff;
  --background-light-secondary: #eaeaed;
  --background-light-tertiary: #EFF2F5;
  --background-dark-primary: #121212;
  --background-dark-secondary: #121212;
  --action-success: #03fcba;
  --action-alert: #e9df00;
  --action-error: #fb5012;
  --primary-light: #7790ed;
  --primary-dark: #5275f5;
  --secondary-light: #292621;
  --secondary-dark: #262420;
  --tertiary-light: #f5ede2;
  --tertiary-dark: #f4e3cc;
  --logo-text-size: 24px;
  --heading-1-text-size: 28px;
  --heading-2-text-size: 24px;
  --heading-3-text-size: 20px;
  --normal-1-text-size: 16px;
  --normal-2-text-size: 14px;
  --normal-3-text-size: 12px;
  --normal-4-text-size: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat Alternates", serif;
  font-weight: 500;
  font-style: normal;
}

.logo-font-text {
  font-family: "Montserrat Alternates", serif;
  font-weight: 700;
  font-style: normal;
}

input,
textarea {
  outline: none;
}
